# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

IndividualSampleFile/
HILDA/
SIH/
cache/
cache*/
figure/
figure*/
GST_costing_cache/

# figures
*.pdf
*.emf
*.dta
*.RData
2012 2% individuals sample file.csv
2013_sample_file.csv
.Rhistory

# latex dirty files
*.aux
*.bbl
*.bcf
*.idx
*.blg
*.ilg
*.ind
*.loboxe
*.lof
*.out
*.synctex.gz
*.toc
*.run.xml
*concordance.tex
*.tex
*.log

bibliography2.bib
package_cite_input.tex
CGT_and_neg_gearing.R
.Rhistory


